@import './fonts';
@import './variables';

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  box-sizing: border-box;

}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}
@media (min-width: 769px) and (max-width: 1340px) {
  .container {
    padding: 0 23px;
    margin: 0 auto;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .container {
    padding: 0 23px;
    margin: 0 auto;
  }
}
@media (max-width: 425px) {
  .container {
    padding: 0 16px;
    margin: 0 auto;
  }
}
